.popup {
    background: white;
    width: 35%;
    height: 30%;
    color: black;
    text-align: center;
    position: relative;
    padding: 1.5%;
    border-radius: 5px;
}
.popup button {
    position: absolute;
    background: red;
    color: white;
    top: 0.5rem;
    right: 0.5rem;
}
.overlay {
        position: fixed; /* Sit on top of the page content */
        /*display: none; *//* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        display: grid;
        justify-items: center;
        align-items: center;
}
span {
    color: orange;
    font-size: 3.5rem;
    font-weight: bold;
}