.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.greeting {
  text-align: center;
  font-size: 5rem;
  padding: 7%;
}
img {
  width: 40%;
}
.card {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  width: 90%;
  text-align: center;
display: inline-block;
}
.wrapper {
  text-align: center;
  width: 100%;
  display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
}
.singlePost {
  text-align: center;
  margin: auto;
  grid-column: 2;
}
.singlePostBox {
  text-align: center;
  margin-top: 3%;
}
body {
  background: radial-gradient(#f7cccc, #ffff);
}