.circle {
    height: 150px;
    width: 150px;
    background-attachment: #4cb050;
    box-shadow: 0 0 3px #333;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}
.circle.active {
    background: url("/star_image.jpg") no-repeat center center/cover;
}
